
.section-tab {
    margin: 0;
    padding: 0px 20px;
    border-radius: 3px;
    background-color: transparent;
  }
  
  .section-tab .title {
    font-family: "Marcellus SC", serif;
    font-weight: 800;
    font-size: 18px;
    margin: 0;
    padding-right: 5px;
  }
  
  .section-tab .title span {
    font-size: 18px;
    color: #e4a101;
  }
  
  .section-tab .subtitle {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.7;
    color: var(--light-gray);
  }
  
  .new {
    border-radius: 25px;
    border: 3px solid #e4a101;
    margin-bottom: 40px;
    transition: all 0.25s;
    color: var(--main-bg-color);
    background-color: var(--main-bg-color);
  }
  
  .new img {
    width: 100%;
    height: 200px;
    border-radius: 25px;
    object-fit: cover;
  }